* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: pink;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.pomodro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 5rem;
    font-size: xx-large;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
}

.utils {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.buttons {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.breakTitle,
.timeOutTitle {
    padding: 0.5rem;
    text-align: center;
    color: green;
    font-size: medium;
}

.timeOutTitle {
    color: red;
}